<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  {% assign page_title = site.name %}
  {% assign page_url = page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url %}
  {% assign raw_description = page.description | default: page.excerpt | default: site.description %}
  {% assign meta_description = raw_description | strip_html | strip_newlines | truncate: 155 %}
  {% if page.image %}
    {% assign social_image = page.image %}
  {% else %}
    {% assign social_image = site.avatar %}
  {% endif %}
  {% if social_image contains 'http' %}
    {% assign social_image_url = social_image %}
  {% else %}
    {% assign social_image_url = social_image | prepend: site.baseurl | prepend: site.url %}
  {% endif %}
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  {% if meta_description %}
  <meta name="description" content="{{ meta_description }}">
  {% endif %}
  {% if page.keywords %}
    {% assign keywords_content = page.keywords %}
  {% elsif site.keywords %}
    {% assign keywords_content = site.keywords | join: ', ' %}
  {% endif %}
  {% if keywords_content %}
  <meta name="keywords" content="{{ keywords_content }}">
  {% endif %}
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.google_site_verification %}
  <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}

  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:image" content="{{ social_image_url }}">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ social_image_url }}">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page_url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ site.name }}",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}/{{ site.avatar }}",
    "email": "{{ site.email }}",
    "description": "{{ meta_description }}",
    "jobTitle": "Undergraduate Student",
    "affiliation": "Yonsei University",
    "sameAs": [{% for profile in site.social_links %}{% if forloop.first == false %}, {% endif %}"{{ profile.url }}"{% endfor %}]
  }
  </script>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Seonghun Oh
              </h1>
              <p>
                I am an undergraduate student at Yonsei University, majoring in Electrical and Electronics Engineering.
              </p>
              <p>
                During my undergraduate studies, I worked as a research intern at UC San Diego, Seoul National University, and NAVER AI Lab.
                My research interests lie in 3D Computer Vision and Computer Graphics.
              </p>
              <p><b>
                I am looking for research internship opportunities beginning in 2026.
              </b><br>Feel free to contact me!</p>
              <p style="text-align:center">
                <a href="mailto:rendell@yonsei.ac.kr">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/seonghunn">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/seonghun-oh-89b005261/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.png">
            </td>
          </tr>
        </table>

        <h2>Publications</h2>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% assign link_list = "" %}
              {% if post.website %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.website | append: '">project page</a>' %}
              {% endif %}
              {% if post.paper %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.paper | append: '">paper</a>' %}
              {% endif %}
              {% if post.video %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.video | append: '">video</a>' %}
              {% endif %}
              {% if post.code %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.code | append: '">code</a>' %}
              {% endif %}
              {% if post.poster %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.poster | append: '">poster</a>' %}
              {% endif %}
              {% if post.slides %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.slides | append: '">slides</a>' %}
              {% endif %}
              {% if post.youtube %}
                {% if link_list != "" %}{% assign link_list = link_list | append: " / " %}{% endif %}
                {% assign link_list = link_list | append: '<a href="' | append: post.youtube | append: '">youtube</a>' %}
              {% endif %}
              {{ link_list }}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>

        <h2 style="margin-top: 40px;">Experiences</h2>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3 style="margin:0;">Research Scientist Intern</h3>
              <div><a class="subtle-link" href="https://naver-career.gitbook.io/en/positions/ai-ml/generation-research">Generation Research</a>, <a class="subtle-link" href="https://naver-career.gitbook.io/en/teams/clova-cic/ai-lab">NAVER AI Lab</a> (Advisor: <a href="https://wityworks.com/">Jin-Hwa Kim</a>)</div>
            </td>
            <td style="padding:2.5%;width:25%;vertical-align:middle;text-align:right;white-space:nowrap;">2025.03 – 2025.09</td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3 style="margin:0;">Research Intern</h3>
              <div>Seoul National University (Advisor: <a href="https://3d.snu.ac.kr/">Young-Min Kim</a>)</div>
            </td>
            <td style="padding:2.5%;width:25%;vertical-align:middle;text-align:right;white-space:nowrap;">2024.04 – 2024.10</td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3 style="margin:0;">Research Intern</h3>
              <div>University of California, San Diego (Advisor: <a href="https://cseweb.ucsd.edu/~haosu/">Hao Su</a>)</div>
            </td>
            <td style="padding:2.5%;width:25%;vertical-align:middle;text-align:right;white-space:nowrap;">2023.07 – 2024.05</td>
          </tr>
        </table>

        <br>
        <br>

        <h2 style="margin-top: 40px;">Education</h2>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px; text-align: center;">
              <img src="images/yonsei.png" alt="Yonsei University Logo" style="width:auto; height:auto; max-width:80px;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Yonsei University</h3>
              <p>B.S. in Electrical and Electronics Engineering</p>
              <p>2020.03 – Present</p>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px; text-align: center;">
              <img src="images/ucsd.png" alt="UCSD Logo" style="width:auto; height:auto; max-width:80px;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>University of California, San Diego</h3>
              <p>Exchange student, Computer Science</p>
              <p>2022.09 – 2023.06</p>
            </td>
          </tr>
        </table>


        <br>
        <br>
        <br>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

